<mat-card class="film-card">
  <img mat-card-image [src]="getImgSource()" alt="getTitle()" (click)="clickOnFilm()">
  <mat-card-header>
    <mat-card-title>{{getTitle()}}</mat-card-title>
  </mat-card-header>
  <div class="film-buttons">
    <i class="material-icons like" [class.liked]="isLiked" (click)="like()">star</i>
    <i class="material-icons add" [matMenuTriggerFor]="menu">add_circle</i>
    <mat-menu #menu="matMenu">
      <label>
        <input [(ngModel)]="this.searchQuery" mat-menu-item type="text" placeholder="nouvelle liste"/>
        <i id="new" class="material-icons add" (click)="addToNewPlaylist()">add</i>
      </label>
      <div *ngFor="let play of playlists">
        <button mat-menu-item (click)="addToPlaylist(play.name)">{{play.name}}</button>
      </div>
    </mat-menu>
  </div>
</mat-card>
