.film-card {
  background-color: #1F1F1F;
  color: #ffffff;
  border: 3px solid black;
}

.film-card:hover {
  transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.mat-grid-tile {
  height: 100%;
}

.liked {
  color: gold;
}

.film-buttons i{
  cursor: pointer;
}

mat-card-header{
  height: 55px;
}

input, label {
  position : static;
}

#new {
  position: absolute;
  left: 150px;
  bottom: auto;
  top: 18px;
}
