.film-card {
  background-color: #1F1F1F;
  color: #ffffff;
  border: 3px solid black;
}

.mat-grid-tile {
  height: 100%;
}

.liked {
  color: gold;
}

.film-buttons i{
  cursor: pointer;
}

mat-card-header{
  height: 55px;
}
