#add{
  float: right;
  margin-right: 10px;
}

.film-card {
  background-color: transparent;
  color: white;
  border: 3px solid black;
}

.film-card:hover {
  transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.mat-grid-tile {
  height: 100%;
}

.liked {
  color: gold;
}

mat-card-header{
  height: 55px;
  color: #1F1F1F;
}

.film-buttons i{
  cursor: pointer;
  color: #1F1F1F;
}
