#acteurNameText {
  font-size: 100%;
}
.acteur-card {
  background-color: #1F1F1F;
  color: #ffffff;
  border: 3px solid black;
}

.acteur-card:hover {
  transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#acteurImg
{

}
