
<table id="table" style="width:100%">
  <tr>
    <th><p class="mat-h2">VIDéOTHèQUE</p></th>
    <th><a mat-icon-button routerLink="/home" routerLinkActive="active" id="btnHome" (click)="changeToHome()"><i class="material-icons md-light">home</i><p class="label">Accueil</p></a></th>
    <th><a mat-icon-button routerLink="/films" routerLinkActive="active" id="btnFilms" (click)="changeToFilms()"><i class="material-icons md-light">local_movies</i><p class="label">Films</p></a></th>
    <th><a mat-icon-button routerLink="/actors" routerLinkActive="active" id="btnActor" (click)="changeToActor()"><i class="material-icons md-light">people</i><p class="label">Acteurs</p></a></th>
    <th><a mat-icon-button routerLink="/playlist" routerLinkActive="active" id="btnPlaylist" (click)="changeToPlaylist()"><i class="material-icons md-light">playlist_play</i><p class="label">Mes Listes</p></a></th>
    <th>
      <nav *ngIf="_user">
        <button mat-button [matMenuTriggerFor]="menu"><img height="42" width="42" [src]="_user.photoURL" /></button>
        <mat-menu #menu="matMenu">
          <button (click)="changeToAccount()" mat-menu-item>Profil</button>
          <button routerLink="/crisis-center" routerLinkActive="active" (click)="logout()" mat-menu-item>Déconnexion</button>
        </mat-menu>
      </nav>
      <nav *ngIf="!_user">
        <button mat-icon-button id="btnConnexion" (click)="login()"><i id="btnConnexion2" class="material-icons md-light">power_settings_new</i></button>
      </nav>

    </th>
  </tr>
</table>
<div>
    <router-outlet></router-outlet>
</div>


