.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
*{
  background-color: #1F1F1F;
  color: white;
}
p {
  color: #FF2600;
  font-size: 2em;
  margin-bottom: 0px;
  margin-top: 0px;
  Font-Weight: Bold;
}
