.app-film-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

#filmGrid{
  background-color: transparent;
  margin-left: 30px;
  margin-top: 20px;
}

#expanseBtn {
  font-size: 4em;
  position: relative;
  top: 40%;
  border: none;
  color: #333333;
  background-color: transparent;
  cursor: pointer;

}

#arrowDiv:hover {
  background-color: aliceblue;
  cursor: pointer;
}
