.app-film-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

#filmGrid{
  background-color: #1F1F1F;
}

#expanseBtn {
  font-size: 8em;
  bottom: 40%;
  border: none;
  color: white;
  background-color: transparent;
}
