<div *ngIf="!filmIsCLicked">
  <div id="filmGrid" >
    <div class="container"
       fxLayout="row wrap"

       fxLayoutGap="16px"

       fxLayoutAlign="flex-start" *ngIf="!canBeMore">

        <div class="item item-1" fxFlex="0 1 calc(16.66% - 16px)"
             fxFlex.lt-md="0 1 calc(20% - 16px)"
             fxFlex.lt-sm="0 1 calc(25% - 16px)"
             *ngFor="let movie of movies">
              <app-film [movie]="movie" [fs]= "fs" (clickFilm)="clickOnFilm($event)"></app-film>
        </div>


    </div>
    <div class="container"
         fxLayout="row wrap"

         fxLayoutGap="16px"

         fxLayoutAlign="flex-start" *ngIf="canBeMore">
      <div class="item item-1" fxFlex="0 1 calc(16.66% - 16px)"
           fxFlex.lt-md="0 1 calc(20% - 16px)"
           fxFlex.lt-sm="0 1 calc(25% - 16px)"
           *ngFor="let movie of slicedMovies">
        <app-film [movie]="movie" [fs]= "fs" (clickFilm)="clickOnFilm($event)"></app-film>
      </div>
      <div><button id="expanseBtn" (click)="expanse()">...</button></div>
    </div>
  </div>
</div>
<div *ngIf="filmIsCLicked">
  <app-film-info [fs]="fs" [film]="filmClicked" (exitEmitter)="exitInfo()"></app-film-info>
</div>
