.mat-grid-tile {
  height: 100%;

}

#acteurGrid{
  background-color: #FFFFFF;
  padding-top: 2%;
}




.searchActor {

  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}

#title {
  display: block;
  background-color: lightgrey;
  color: #1F1F1F;
  width: 100%;
  margin-top: 50px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  Font-Weight: normal;
  letter-spacing: .2rem;
}


