<div id="title">FILMS
  <div class="searchFilm">
    <div class="sf">
      <input placeholder="Recherche" [value]="searchValue" (input)="searchValue = $event.target.value">
      <button mat-icon-button>
        <mat-icon  id="search" aria-label="searchActor" (click)="onSearchChange()" >search</mat-icon>
      </button>
    </div>
  </div>

</div>

<p>Filtrer par genre :
  <mat-form-field id="selectGenre">
    <mat-select placeholder="Genre">
      <mat-option *ngFor="let genre of genres" [value]="genre.id" (onSelectionChange)="selectChange($event)">
        {{genre.name}}
      </mat-option>
    </mat-select>
  </mat-form-field></p>


<div id="films">
  <ng-container *ngIf="films">
    <app-film-list  [movies]="films"></app-film-list>
  </ng-container>
</div>
