.searchFilm {

  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}

p {
  color: black;

}

#selectGenre {
  padding-left: 0.5%;
}


#title {
  display: block;
  background-color: lightgrey;
  color: #1F1F1F;
  width: 100%;
  margin-top: 50px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  Font-Weight: normal;
  letter-spacing: .2rem;
}
#films {
  background-color: #FFFFFF;
}



