.searchFilm {
  color: white;
  display: inline-block;
  text-align: right;
}

#title {
  display: block;
  background-color: lightgrey;
  color: #1F1F1F;
  width: 100%;
  margin-top: 50px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  Font-Weight: normal;
  letter-spacing: .2rem;
}





