<!--<nav *ngIf="user">
  <label>
    <app-profil [user]="user"> </app-profil>
  </label>
  <button (click)="logout()">Déconnection</button>
</nav>
<nav *ngIf="!user">
  <button (click)="login()">Connection via Google</button>
</nav>-->
<!--
<pre *ngIf="movies">
  <app-film-list [movies]="movies"></app-film-list>
</pre>-->
<app-menu (changeMenu)="changeDisplay($event)" (userLogin)="changeUser($event)"></app-menu>
<div *ngIf="cursor === 'home'">
  <app-home-page></app-home-page>
</div>
<div *ngIf="cursor === 'films'">
  <app-film-list></app-film-list>
</div>
<div *ngIf="cursor === 'actor'" >
  <app-acteur-grid [fs]= "fs" [acteurs]="acteurs" ></app-acteur-grid>

</div>
<div *ngIf="cursor === 'playlist'">
  <app-playlist [fs]="fs"></app-playlist>
</div>
<div *ngIf="cursor === 'account'">
  <app-profil [user]="_user"></app-profil>
</div>
