<div class="cont">
  <div *ngIf="playlist" class="listeInfo">

    <div class="container"
         fxLayout="row wrap"

         fxLayoutGap="16px"

         fxLayoutAlign="flex-start">

      <div class="item item-2" fxFlex="0 1 calc(50%)">
        <div id="en_tete">
          <span>
            <mat-card id="listeTitle">
              <h1>{{playlist.name}} </h1>
            </mat-card>
            <button mat-icon-button> <!-- TODO : mettre bouton de partage à coté de l'encadrement du nom de la liste -->
              <mat-icon  id="person_add" (click)="sharePlaylist()">person_add</mat-icon> <!-- TODO : AJOUTER L'ACTION DU BOUTON : PARTAGE : (click)="" -->
            </button>
          </span>
        </div>
        <div class="listeInfoCard">
          <h3>Description :</h3>
          <p *ngIf="playlist.description !== null || playlist.description !== ''">{{playlist.description}}</p>
          <p *ngIf="playlist.description === null || playlist.description === ''"><i>Pas de description disponible pour cette playlist.</i></p>
          <!--<p *ngIf="this.film.overview!=''">
            {{description}}
          </p>
          <p *ngIf="this.film.overview==''">Pas de description disponible...</p>-->
        </div>

        <div class="listeInfoCard">
         <h3>Date de création :</h3>
        </div>

      </div>
    </div>
    <div>
      <app-film-list [movies]="playlist.movies"></app-film-list>
    </div>

  </div>
</div>
