<div *ngIf="!playlistIsClicked">
  <form id="playlist-form">
    <input class="inputPlaylist" placeholder="Titre" [value]="title" (input)="title = $event.target.value">
    <input class="inputPlaylist" placeholder="Description" [value]="desc" (input)="desc = $event.target.value">
    <button mat-icon-button>
      <mat-icon  aria-label="searchActor" (click)="createPlaylist()" >add</mat-icon>
    </button>
  </form>
  <div id="filmGrid" >
    <div class="container"
         fxLayout="row wrap"

         fxLayoutGap="16px"

         fxLayoutAlign="flex-start" *ngIf="!canBeMore">

      <div class="item item-1" fxFlex="0 1 calc(16.66% - 16px)"
           fxFlex.lt-md="0 1 calc(20% - 16px)"
           fxFlex.lt-sm="0 1 calc(25% - 16px)"
           *ngFor="let playlist of slicedPlaylists">
        <h2>
          <i class="material-icons md-36" style="font-size: 36px">arrow_right</i>
          {{playlist.name}}
        </h2>
          <ul>
            <li *ngFor="let movie of playlist.movies"><i class="material-icons md-36" style="font-size: 26px">arrow_right</i> {{movie.title}}</li>
            <li><div><button class="expanseBtn" (click)="clickOnPlaylist(playlist)">...</button></div></li>
            <li><i class="material-icons add" (click)="delete()">delete_outline</i></li>
          </ul>
      </div>
      <div><button class="expanseBtn" (click)="roll()">...</button></div>
    </div>
  </div>
</div>
<div *ngIf="playlistIsClicked">
  <button mat-icon-button (click)="exitInfo()">
    <mat-icon aria-label="exit">clear</mat-icon>
  </button>
  <app-playlist  [title]="playlistClicked.name" [playlist]="playlistClicked.movies"></app-playlist>
</div>
