<div id="title">MES LISTES</div>
<div *ngIf="!playlistIsClicked">
  <form id="playlist-form">Créer une liste :
    <input class="inputPlaylist" placeholder="Titre" [value]="title" (input)="title = $event.target.value">
    <input class="inputPlaylist" placeholder="Description" [value]="desc" (input)="desc = $event.target.value">
    <button mat-icon-button (click)="createPlaylist()">
      <mat-icon  aria-label="searchActor" >add_circle_outline</mat-icon>
    </button>
  </form>
  <div id="filmGrid" >
    <div class="container"
         *ngIf="!canBeMore">

      <div class="item item-1" *ngFor="let playlist of playlists">
        <div id ="enTeteListe">
          <h2 id="title_liste" (click)="clickOnPlaylist(playlist)">{{playlist.name}}
          <button mat-icon-button>
            <mat-icon  id="person_add" >person_add</mat-icon> <!-- AJOUTER L'ACTION DU BOUTON : PARTAGE : (click)="" -->
          </button>
            <i class="material-icons add" (click)="delete(playlist.name)">delete_outline</i>
          </h2>
        </div>

        <div id = "aucun_film" *ngIf="playlist.movies.length == 0">
          Aucun film à afficher...
        </div>

        <div *ngIf="playlist.movies.length > 0">
          <app-film-list [movies]="playlist.movies" [numberOfFilmTOShow]="5"></app-film-list>
        </div>

      </div>
    </div>
  </div>
</div>
<div *ngIf="playlistIsClicked">
  <button mat-icon-button (click)="exitInfo()">
    <mat-icon aria-label="exit">clear</mat-icon>
  </button>
  <app-playlist  [title]="playlistClicked.name" [playlist]="playlistClicked.movies"></app-playlist>
</div>
