#title {
  display: block;
  background-color: lightgrey;
  color: #1F1F1F;
  width: 100%;
  margin-top: 50px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  Font-Weight: normal;
  letter-spacing: .2rem;
}

#playlist-form {
  margin: 30px;
  font-weight: bold;
}

.material-icons {
  color: #80ffe5;
  margin-left: 10px;
  font-size: 42px;
  text-align: center;
}

#title_liste {
  margin: 30px;
}

* {
  color: #1F1F1F;
}
ul {
  position: relative;
  list-style: none;
  margin-left: 0;
}
ul li:before {
  content: "";
  position: absolute;
  left: 0;
}

.expanseBtn {
  font-size: 8em;
  bottom: 40%;
  border: none;
  color: #1F1F1F;
  background-color: transparent;
  cursor: pointer;
}

li .expanseBtn {
  font-size: 3em;
}

.inputPlaylist {
  color:  #1F1F1F;
}
