#enTeteListe {
  display: inline-block;
}

#title {
  display: block;
  background-color: lightgrey;
  color: #1F1F1F;
  width: 100%;
  margin-top: 50px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  Font-Weight: normal;
  letter-spacing: .2rem;
}

#playlist-form {
  margin: 30px;
  font-weight: bold;
}

.material-icons {
  color: #80ffe5;
  margin-left: 10px;
  font-size: 42px;
  text-align: center;
}

#title_liste {
  margin-left: 30px;
}

#person_add {
  color: #1F1F1F;
  border: 2px solid #80ffe5;
  padding: 8px;
  padding-right: 20px;
}

* {
  color: #1F1F1F;
}

.inputPlaylist {
  color:  #1F1F1F;
}
