<div class="cont">
<div *ngIf="film" class="acteurInfo"   >

  <div class="container"
       fxLayout="row wrap"

       fxLayoutGap="16px"

       fxLayoutAlign="flex-start">
    <div class="item item-1" fxFlex="0 1 calc(30% - 16px)">
      <p id="backButton" routerLink="/films" routerLinkActive="active"><i id="matRetour" class="material-icons">
        reply
      </i>Retour</p>
      <mat-card class="posterFilm" id="imagActeurInfo">
        <img src={{getPath(film.poster_path)}} alt={{film.title}} id="acteurImg">
      </mat-card>
      <mat-card class="acteurInfoCard">
        <h3>Critiques </h3>
        <i class="material-icons critique" [class.gold]="isGold(1)">star</i>
        <i class="material-icons critique" [class.gold]="isGold(2)">star</i>
        <i class="material-icons critique" [class.gold]="isGold(3)">star</i>
        <i class="material-icons critique" [class.gold]="isGold(4)">star</i>
        <i class="material-icons critique" [class.gold]="isGold(5)">star</i>
      </mat-card>
    </div>
    <div class="item item-2" fxFlex="0 1 calc(30% - 16px)">
      <mat-card id="filmTitle">
        <h1>{{film.title}} </h1>
      </mat-card>
      <mat-card class="acteurInfoCard">
        <h3>Description :</h3>
        <p *ngIf="this.film.overview!=''">{{film.overview}}</p>
        <p *ngIf="this.film.overview==''">Pas de description disponible ...</p>
      </mat-card>

      <mat-card class="acteurInfoCard">
        <h3>Fiche technique :</h3>
        <div>Genre : {{getGenre()}}</div><br/>
        <p>Date de sortie : {{film.release_date}}</p>
      </mat-card>
    </div>
  </div>
</div>
</div>
